<%- include('partials/header') %>

    <main class="container">

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="h1 display-4">Erreur 404</h2>
            <p class="lead">Page introuvable</p>
        </div>

<%- include('partials/footer') %>
  